<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand">
      Noble<span>UI</span>
    </a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
      <li class="nav-item nav-category">اصلی</li>
      <li class="nav-item">
        <a href="../../dashboard-one.html" class="nav-link">
          <i class="link-icon" data-feather="box"></i>
          <span class="link-title">داشبورد</span>
        </a>
      </li>
      <li class="nav-item nav-category">برنامه ها</li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false"
          aria-controls="emails">
          <i class="link-icon" data-feather="mail"></i>
          <span class="link-title">ایمیل</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="emails">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/email/inbox.html" class="nav-link">صندوق دریافت</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/email/read.html" class="nav-link">خواندن ایمیل</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/email/compose.html" class="nav-link">ارسال ایمیل</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="../../pages/apps/chat.html" class="nav-link">
          <i class="link-icon" data-feather="message-square"></i>
          <span class="link-title">گفتگو</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../../pages/apps/calendar.html" class="nav-link">
          <i class="link-icon" data-feather="calendar"></i>
          <span class="link-title">تقویم رویداد میلادی</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="../../pages/apps/calendar-jalali.html" class="nav-link">
          <i class="link-icon" data-feather="calendar"></i>
          <span class="link-title">تقویم رویداد شمسی</span>
        </a>
      </li>
      <li class="nav-item nav-category">کامپوننت ها</li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#uiComponents" role="button" aria-expanded="false"
          aria-controls="uiComponents">
          <i class="link-icon" data-feather="feather"></i>
          <span class="link-title">عناصر UI</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="uiComponents">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/ui-components/alerts.html" class="nav-link">هشدار ها</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/badges.html" class="nav-link">نشان ها</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/breadcrumbs.html" class="nav-link">مسیر راهنما</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/buttons.html" class="nav-link">دکمه ها</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/button-group.html" class="nav-link">دکمه گروهی</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/cards.html" class="nav-link">کارت ها</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/carousel.html" class="nav-link">اسلاید تصاویر</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/collapse.html" class="nav-link">کامپوننت Collapse</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/dropdowns.html" class="nav-link">منو کشویی</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/list-group.html" class="nav-link">لیست گروهی</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/media-object.html" class="nav-link">اشیاء رسانه ای</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/modal.html" class="nav-link">مُدال</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/navs.html" class="nav-link">نَو ها</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/navbar.html" class="nav-link">نوبار</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/pagination.html" class="nav-link">صفحه بندی</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/popover.html" class="nav-link">کادر محتوا</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/progress.html" class="nav-link">نوار پیشرفت</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/scrollbar.html" class="nav-link">پیمایش صفحه</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/scrollspy.html" class="nav-link">پیمایش صفحه Scrollspy</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/spinners.html" class="nav-link">اسپینر</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/ui-components/tooltips.html" class="nav-link">تولتیپ</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#advancedUI" role="button" aria-expanded="false"
          aria-controls="advancedUI">
          <i class="link-icon" data-feather="anchor"></i>
          <span class="link-title">عناصر پیشرفته UI</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="advancedUI">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/advanced-ui/cropper.html" class="nav-link">برش عکس</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/advanced-ui/owl-carousel.html" class="nav-link">اسلاید تصاویر (Owl carousel
                2)</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/advanced-ui/sweet-alert.html" class="nav-link">هشدار شیرین (Sweet Alert 2)</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#forms" role="button" aria-expanded="false"
          aria-controls="forms">
          <i class="link-icon" data-feather="inbox"></i>
          <span class="link-title">فرم ها</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="forms">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/forms/basic-elements.html" class="nav-link">عناصر پایه</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/forms/advanced-elements.html" class="nav-link">عناصر پیشرفته</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/forms/editors.html" class="nav-link">ویرایشگر</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/forms/wizard.html" class="nav-link">فرم حرفه ای (مرحله ای)</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" role="button" aria-expanded="false"
          aria-controls="charts">
          <i class="link-icon" data-feather="pie-chart"></i>
          <span class="link-title">نمودار ها</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/charts/apex.html" class="nav-link">نمودار Apex</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/charts/chartjs.html" class="nav-link">نمودار ChartJs</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/charts/flot.html" class="nav-link">نمودار Flot</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/charts/morrisjs.html" class="nav-link">نمودار Morris</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/charts/peity.html" class="nav-link">نمودار Peity</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/charts/sparkline.html" class="nav-link">نمودار Sparkline</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" role="button" aria-expanded="false"
          aria-controls="tables">
          <i class="link-icon" data-feather="layout"></i>
          <span class="link-title">جداول</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/tables/basic-table.html" class="nav-link">جداول پایه</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/tables/data-table.html" class="nav-link">جدول داده</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" role="button" aria-expanded="false"
          aria-controls="icons">
          <i class="link-icon" data-feather="smile"></i>
          <span class="link-title">آیکون ها</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/icons/feather-icons.html" class="nav-link">آیکون Feather</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/icons/flag-icons.html" class="nav-link">آیکون Flag</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/icons/mdi-icons.html" class="nav-link">آیکون Mdi</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item nav-category">صفحات</li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#general-pages" role="button" aria-expanded="false"
          aria-controls="general-pages">
          <i class="link-icon" data-feather="book"></i>
          <span class="link-title">صفحات ویژه</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="general-pages">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/general/blank-page.html" class="nav-link">صفحه خالی</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/general/faq.html" class="nav-link">سوالات متداول</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/general/invoice.html" class="nav-link">فاکتور</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/general/profile.html" class="nav-link">پروفایل</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/general/pricing.html" class="nav-link">پلن فروش</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/general/timeline.html" class="nav-link">تایم لاین</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#authPages" role="button" aria-expanded="false"
          aria-controls="authPages">
          <i class="link-icon" data-feather="unlock"></i>
          <span class="link-title">احراز هویت</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="authPages">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/auth/login.html" class="nav-link">ورود</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/auth/register.html" class="nav-link">ثبت نام</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#errorPages" role="button" aria-expanded="false"
          aria-controls="errorPages">
          <i class="link-icon" data-feather="cloud-off"></i>
          <span class="link-title">خطا</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="errorPages">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="../../pages/error/404.html" class="nav-link">404</a>
            </li>
            <li class="nav-item">
              <a href="../../pages/error/500.html" class="nav-link">500</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>