
  .flat-wallet {
  right: 15px!important;
  }

.canvas-nav-wrap.active .inner-canvas-nav {
    right: 0!important;
}

.canvas-nav-wrap .inner-canvas-nav {

    right: -340px!important;

}
.inner-canvas-nav .side-bar .canvas-nav-close {
    right: 30px!important;
}
#main-nav .sub-menu {
  left: 0!important;
}

#main-nav .nav-sub-menu {
  left: 100%!important;
}

.pl12{
    font-size: 12px;
}
.header_1 #main-nav {
  left: 16.48%!important;

}

.home-6 .section-menu-left {
    left: 0;
}

.market-page .btn-canvas.active {
    left: 215px;
}

.btn-canvas.active {
    left: 290px;
}

.home-6 .wrap-content {
    margin-left: 281px;
}

.btn-canvas {
    left: 0px;
  margin-top: -40px;
}
@media (max-width: 1440px) {
  .home-6 .wrap-content.full {
    margin-left: 0!important;
    width: 100%!important;
  }
}
@media (max-width: 700px) {
    #wrapper #page .section-menu-left {
        left: 0;
    }
    #wrapper #page .section-menu-left.null {
        left: 0;
    }
}

.section-menu-left .list-menu > ul > li.has-item > a::before {
    right: 10px;
}

.section-menu-left .list-menu > ul > li > a i {
    left: 9px;
}
.span_icon{
    padding-left: 0px;
}
.span_icon_ul_li{
    padding-left: 0px;
}

.section-menu-left .list-menu ul.sub-item li::before {
    left: 0;
}
.widget-tabs .tf-soft {
    right: 0;
}

.breadcrumbs li {
    margin-right: 32px;
}

.breadcrumbs li.icon-keyboard_arrow_right::before {
    right: -22px;
}
.icon-keyboard_arrow_right:before {
  content: "\e912";
}

.product-item > i {
    right: 20px;
}
 