<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>dorsa pascal system, inc.</title></head>
<body>
<div id="zone0">
    <div class="zones">
        <div id="zone1" class="zone">%#obj_formtab1_block775#%
            <blockseprator/>
        </div>
        <div id="zone2" class="zone">%#obj_formtab1_block776#%
            <blockseprator/>
        </div>
        <div id="zone3" class="zone">%#obj_formtab1_block777#%
            <blockseprator/>
        </div>    <!--startmainbody-->
        <div id="part1" class="main">
            <div class="myclear"></div>
            <div id="part3" class="zone">
                <div id="zone8" class="zone main floatr">
                    <div id='tabcontrol_1'>
                        <div class='tabs1'>
                            <ul class='tabnavigation'>
                                <li><a href='#tab6'>تعیین صلاحیت مدرسان</a></li>
                                <li><a href='#tab7'>پیگیری درخواست</a></li>
                            </ul>
                            <div id='tab6'>%#obj_formtab1_block778#%</div>
                            <div id='tab7'>%#obj_formtab1_block779#%</div>
                        </div>
                    </div>
                    <blockseprator />
                </div>
                <div id="zone5" class="zone main floatr">@#obj_formtab1_block780#@
                    <blockseprator/>
                    %#obj_formtab1_block781#%
                    <blockseprator/>
                </div>

                <div id="zone6" class="zone main floatr">
                </div>
                <div id="zone7" class="zone main floatr">
                </div>
                <div id="zone8" class="zone main floatr">
                </div>


                <div class="myclear"></div>
            </div>
        </div>    <!--endmainbody-->
        <div id="zone10" class="zone">%#obj_formtab1_block782#%
            <blockseprator/>
            $#tool_link_sample_formtab1_block784#$
            <blockseprator/>
        </div>
        <div id="zone11" class="zone"> %#obj_formtab1_block785#%
            <blockseprator/>
            %#obj_formtab1_block786#%
            <blockseprator/>
        </div>
    </div>
</div>
</body>
</html>
